@using Microsoft.Extensions.Configuration
@using TarkovSauce.Client.Services
@inherits LayoutComponentBase
@inject StateContainer StateContainer
@inject IConfiguration Config

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <TSButton OnClick="LaunchApp" Content="Launch BSG Launcher" IsPrimary="true" IsDisabled="@(string.IsNullOrEmpty(Config["Settings:TarkovExePath"]))"></TSButton>
            <TSGearButton OnClick="_ => StateContainer.State.Value = State.Settings" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <TarkovSauce.Client.Components.Modal.TSToast />
    <TarkovSauce.Client.Components.Misc.TSSPinner @bind-IsSpinning=StateContainer.IsLoading.Value />
</div>

@code {
    protected override void OnInitialized()
    {
        StateContainer.IsLoading.OnValueChanged += b => InvokeAsync(StateHasChanged);
        StateContainer.MainLayoutChangedEvent += () => InvokeAsync(StateHasChanged);
    }
    private void LaunchApp()
    {
        if (!string.IsNullOrEmpty(Config["Settings:TarkovExePath"]))
        {
            // Use Process.Start to launch the Tarkov application
            System.Diagnostics.Process.Start(Config["Settings:TarkovExePath"]);
        }
    }
}