@using Microsoft.Extensions.Configuration
@using TarkovSauce.Client.Services
@using TarkovSauce.Client.Utils
@using TarkovSauce.Watcher
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <TSButton OnClick="LaunchApp" Content="Launch BSG Launcher" IsPrimary="true" IsDisabled="@(string.IsNullOrEmpty(AppDataJson.Settings.TarkovExePath))"></TSButton>
            <TSGearButton OnClick="_ => StateContainer.State.Value = State.Settings" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    @if (!Monitor.IsLoading)
    {
        <TarkovSauce.Client.Components.Modal.TSToast />
    }
    <TarkovSauce.Client.Components.Misc.TSSPinner @bind-IsSpinning=StateContainer.IsLoading.Value />
</div>