@using TarkovSauce.Client.Services
@inherits LayoutComponentBase
@inject StateContainer StateContainer

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <TSGearButton OnClick="_ => StateContainer.State.Value = State.Settings" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <TarkovSauce.Client.Components.Modal.TSToast />
    <TarkovSauce.Client.Components.Misc.TSSPinner @bind-IsSpinning=StateContainer.IsLoading.Value />
</div>

@code {
    protected override void OnInitialized()
    {
        StateContainer.IsLoading.OnValueChanged += b => InvokeAsync(StateHasChanged);
    }
}