<div class="tooltip-wrapper">
    <div class="tooltip-inner-wrapper">
        <div class="tooltip-line">Name: @Name (@ShortName)</div>
        <div class="tooltip-line">Avg Price (24h): ₽@Avg24hPrice</div>
        <div class="tooltip-line">Description: @Description</div>
    </div>
    @ChildContent
</div>

