<h3>Component Tests</h3>

<div class="component-tests">
    <p>Buttons</p>
    <ul>
        <li>
            <TSButton Content="Normal" IsPrimary=false />
        </li>
        <li>
            <TSButton Content="Primary" IsPrimary=true />
        </li>
        <li>
            <TSButton Content="Warning" IsPrimary=false Css="warning" />
        </li>
        <li>
            <TSCheckbox Label="Test Checkbox" />
        </li>
        <li>
            <TSGearButton />
        </li>
    </ul>
    <p>Inputs</p>
    <ul>
        <li>
            <div style="display:flex;flex-direction:column">
                <TSInput @bind-Value=_inputVal Placeholder="I am a placeholder for an input field" />
                <small class="tshint">Binding: @_inputVal</small>
            </div>

        </li>
    </ul>
</div>

<style>
    .component-tests ul button {
        margin: 4px;
    }
</style>

@code{
    private string _inputVal = "";
}