<h3>Component Tests</h3>

@*
    <TarkovSauce.Client.Components.Misc.TSSPinner IsSpinning=true />
*@

<div class="component-tests">
    <p>Buttons</p>
    <ul>
        <li>
            <TSButton Content="Normal" IsPrimary=false />
        </li>
        <li>
            <TSButton Content="Primary" IsPrimary=true />
        </li>
        <li>
            <TSButton Content="Warning" IsPrimary=false Css="warning" />
        </li>
        <li>
            <TSCheckbox Label="Test Checkbox" />
        </li>
        <li>
            <TSGearButton />
        </li>
    </ul>
    <p>Inputs</p>
    <ul>
        <li>
            <div style="display:flex;flex-direction:column">
                <TSInput @bind-Value=_inputVal Placeholder="I am a placeholder for an input field" />
                <small class="tshint">Binding: @_inputVal</small>
            </div>

        </li>
    </ul>
    <br />
    <TarkovSauce.Client.Components.Layout.TSCard Header="Test Header">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </TarkovSauce.Client.Components.Layout.TSCard>
    <TarkovSauce.Client.Components.Layout.TSCard>
        <span>
            This is a card without any header
        </span>
    </TarkovSauce.Client.Components.Layout.TSCard>
</div>

<style>
    .component-tests ul button {
        margin: 4px;
    }
</style>

@code {
    private string _inputVal = "";
}