<div>
    <TSTabButton DataSource="MapTools.Maps.Select(s=>s.Name)" Selection="@_map?.Name" OnSelection="v => SelectMap(v)" />
</div>
@if (_map is not null)
{
    if (_map.Layers.Length > 0)
    {
        <TSTabButton DataSource="_map.Layers.Select(s=>s.Name)" Selection="@_selectedLayer" OnSelection="v => SelectLayer(v)" />
    }
    if (AppData.Debug)
    {
        <img src="@ImgSrc" @onclick=OnMapClick />
    }
    else
    {
        <div class="raid-map-toolbar">
            <TSCheckbox Label="PMC Extracts" IsOn=_mapShowPmcExtract IsOnChanged="v => OnMapShowPmcExtract(v)" />
            <TSCheckbox Label="Scav Extracts" IsOn=_mapShowScavExtract IsOnChanged="v => OnMapShowScavExtract(v)" />
            <TSCheckbox Label="Current Position" IsOn=_showCurrentPos IsOnChanged="v => OnMapCurrentPos(v)" />
            <TSCheckbox Label="PMC Spawns" IsOn=_showPmcSpawns IsOnChanged="v => OnShowPmcSpawns(v)" />
            <TSCheckbox Label="Scav Spawns" IsOn=_showScavSpawns IsOnChanged="v => OnShowScavSpawns(v)" />
        </div>
        <div class="raid-page">
            <img src="@ImgSrc" class="@GetImgCss()" />
        </div>
    }
}
<style>
    img.reserve {
        margin-top: -100px;
        transform: rotate(-14.7deg);
    }

    .raid-map-toolbar {
        width: 100%;
        display: flex;
    }

    .raid-page {
        width: 100%;
    }

        .raid-page img {
            max-width: 100%;
            height: auto;
            width: auto;
        }
</style>