@using StaticAppDataManager = TarkovSauce.Client.Utils.AppDataManager;
@if (AppDataJson is not null)
{
    <div>
        <TSInput Placeholder="Tarkov Log Path" @bind-Value=AppDataJson.Settings.TarkovPath />
        <TSInput Placeholder="Tarkov Tracker Key" @bind-Value=AppDataJson.Settings.TarkovTrackerKey />
        @if (AppDataJson.Debug)
        {
            <TSCheckbox Label="Debug" @bind-IsOn=AppDataJson.Debug />
        }
        <TSInput Placeholder="BSG Launcher Exe Path" @bind-Value=AppDataJson.Settings.TarkovExePath />
    </div>
    <br />
    <TSButton Content="Save" OnClick="OnSaveEvent" IsPrimary=true />
}
<footer>
    <small>v@(StaticAppDataManager.Version)</small>
</footer>