@if (AppDataJson is not null)
{
    <div>
        <TSInput Placeholder="Tarkov Log Path" @bind-Value=AppDataJson.Settings.TarkovPath />
        <TSInput Placeholder="Tarkov Tracker Key" @bind-Value=AppDataJson.Settings.TarkovTrackerKey />
        <TSCheckbox Label="Test" @bind-IsOn=AppDataJson.Settings.Test />
        <TSInput Placeholder="BSG Launcher Exe Path" @bind-Value=AppDataJson.Settings.TarkovExePath />
    </div>
    <br />
    <TSButton Content="Save" OnClick="OnSaveEvent" IsPrimary=true />
}