@using TarkovSauce.Client.Components.Buttons
@inherits ButtonBase

<div class="@CssImpl" style="@StyleImpl">
    <button @onclick="async _ => await OnClick.InvokeAsync()" title="@Label">
        <i class="bi-gear" />
    </button>
</div>

<style>
    .icon-button button i.bi-gear:before {
        animation: rotatePopIn 2s forwards;
    }

    .icon-button button:hover i.bi-gear:before {
        content: '\f3e2';
        animation: rotatePopOut 2s forwards;
    }

</style>

@code{
    protected override string CssImpl => $"tsgearbutton icon-button {base.CssImpl}";
}